@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

iframe[name="activator"] {
  display: none !important;
}

.page-container {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 56rem;
}
